body {
    position: relative;
    width: 1920px;
    height: 1024px;
    overflow: hidden;
    background-image: url('../assets/zelda-background.png')
}

.rectangle {
    position: fixed; /* Changed to position: fixed; */
    top: 0; /* Ensures it's at the top of the viewport */
    left: 0; /* Start from the leftmost point */
    width: 1920px;
    height: 300px;
    background-color: #000000;
    z-index: 1; /* Setting stacking order to be below the hyrule-track logo */
}

.hyrule-track {
    position: absolute;
    top: 110px; /* Positioned beneath the TOTK logo */
    left: 50%; /* Horizontal centering */
    transform: translateX(-50%); /* Ensures perfect horizontal centering */
    width: 789px; /* Specified width */
    height: 112px; /* Specified height */
    object-fit: cover;
    display: block;
    z-index: 2; /* Setting stacking order to be above the rectangle */
}


.zelda-background {
    width: 1920px;
    height: 850px;
    object-fit: cover;
    position: absolute;
}

.account-form-wrapper {
    position: absolute;
    width: 650px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.form-field {
    width: 581px;
    height: 48px;
    background-color: var(--white);
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--primary);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 36px;
    background-color: #dfbb56;
    border-radius: 6px;
}

